QDRANT_HOST=
QDRANT_EXTERNAL_PORT=
QDRANT_INTERNAL_PORT=

DB_COLLECTION_NAME=
EMBEDDING_MODEL_NAME=

KAFKA_HOST=
KAFKA_PORT=
KAFKA_EXTERNAL_PORT=
KAFKA_INTERNAL_PORT=

RECOMMENDATION_EXTERNAL_PORT=
RECOMMENDATION_INTERNAL_PORT=

PRODUCT_SERVICE_URL=
