FRONTEND_SERVICE_INTERNAL_PORT=
FRONTEND_SERVICE_EXTERNAL_PORT=

LOG_LEVEL=

SECRET_KEY=
ALGORITHM=

CART_SERVICE_URL=
PRODUCT_SERVICE_URL=
USER_SERVICE_URL=
ORDER_SERVICE_URL=
REVIEW_SERVICE_URL=
ANALYTICS_SERVICE_URL=
RECOMMENDATIONS_SERVICE_URL=

SENTRY_URL=
